.register {
  .container {
    margin-top: 100px;
  }
  .footer {
    margin-top: 10px;
    text-align: center;
    p {
      cursor: pointer;
      color: #008dff;
      font-size: 12px;
      margin: 0;
    }
  }
}
